<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>Let's Start Packing</h2>
    <h4>
        <div ng-include="'views/partials/list.categories.html'"></div>
    </h4>
    <div class="Category">
        <h2>
            Entertainment 
        </h2>
        <div>
            <form class="packingForms">
                <label>Music 
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>Headphones
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>Instruments
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                
                <br>
                <label>Game consoles
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>Movies
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>Recreational equiptment
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label> <button><a ng-href="#!recreation">Detailed List</a></button>
                <br>
                <input type="button" value="Add">
            </form>
        </div>
    </div>
</div>