<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>Let's Start Packing</h2>
    <h4>
        <div ng-include="'views/partials/list.categories.html'"></div>
    </h4>
    <div class="Category" >
        <h2> Essentials </h2>
        <div ng-if="item.category=='essentials'" ng-repeat="item in vm.lists.universal" ng-cloak>
          
           <form class="packingForms">
            <label> {{item.item}}</label>
            <input type="checkbox" ng-model="checked" ng-init="checked=false" />

           </form>
        
        </div>
    </div>
</div>