<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>Let's Start Packing</h2>
    <h4>
        <div ng-include="'views/partials/list.categories.html'"></div>
    </h4>
    <div class="Category">
        <h2>Miscellaneous</h2>
        <div>
            <form class="packingForms">
                <label>Gifts 
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>Borrowed items
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <p>Pet Needs</p>
                <br>
                <label>Harness
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>Leash
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>Bowl/food
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>Kennel
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>Toys
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <input type="button" value="Add">
            </form>
        </div>
    </div>
    
</div>