<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>Let's Start Packing</h2>
    <h4>
        <div ng-include="'views/partials/list.categories.html'"></div>
    </h4>
    <div class="Category">
        <h2> Skincare </h2>
        <div>
            <form class="packingForms">
                <label>Cleanser -
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>Toner -
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>Serum -
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>Moisturizer -
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>Eye cream -
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <label>SPF -
                    <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                </label>
                <br>
                <input type="button" value="Add">
            </form>
        </div>
    </div>
</div>