<div ng-include="'views/partials/nav.html'"></div>
<div class="container" >
    <h2>Let's Start Packing</h2>
    <h4>
        <div ng-include="'views/partials/list.categories.html'"></div>
    </h4>
    <div class="Category">
        <form>
        <h2>
            Name the List: <input ng-model="vm.lists.newList.title" placeholder="Trip to Florence">
        </h2>
        <div>
            <p>
                When are you going? 
                <input type="date" ng-model="vm.lists.newList.departure" value="{{ date | date: 'yyyy-MM-dd' }}">
            </p>

            <p>
                How long are you going to be gone?
                <input type="number" ng-model="vm.lists.newList.duration" placeholder="2">
            </p>

            <p>
                Where are you going?
                <input ng-model="vm.lists.newList.destination" placeholder="Destination">
            </p>

            <p>
                How are you traveling?
                <select ng-model="vm.lists.newList.method">
                    <option value="" disabled selected>Choose</option>
                    <option value="Plane">Plane</option>
                    <option value="Train">Train</option>
                    <option value="Automobile">Automobile</option>
                    <option value="Automobile">Burro</option>
                </select>
            </p>
            
            <p>
                Do you want reminders? 
                <select ng-model="vm.lists.newList.reminders">
                    <option value="" disabled selected>Choose</option>
                    <option value=true>Yes</option>
                    <option value=false>No</option>
                </select>
            </p>
            <a href="#!essentials"><input type="button" ng-click="vm.addList(vm.list.newList)" value="Start Packing! "></a>
        </form>
        </div>
    </div>

