<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>Let's Start Packing</h2>
    <h4>
        <div ng-include="'views/partials/list.categories.html'"></div>
    </h4>
    
        <div class="Category">
            <h2> Toiletries </h2>
            <div>
                <form class="packingForms">
                    <label>Shampoo 
                        <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                    </label>
                    <br>
                    <label>Conditioner
                        <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                    </label>
                    <br>
                    <label>Bodywash 
                        <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                    </label>
                    <br>
                    <label>Hair products 
                        <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                    </label>
                    <br>
                    <label>Fragrance 
                        <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                    </label>
                    <br>
                    <label>Skincare 
                        <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                    </label><button><a ng-href="#!skincare">Detailed List</a></button>
                    <br>
                    <label>Cosmetics
                        <input type="checkbox" ng-model="checked" ng-init="checked=false" />
                    </label> <button><a ng-href="#!cosmetics">Detailed List</a></button>
                    <br>
                   
                    <input type="button" value="Add">
                </form>
            </div>
        </div>

</div>