<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <h2>Let's Start Packing</h2>
    <h4>
        <div ng-include="'views/partials/list.categories.html'"></div>
    </h4>
    <div class="Category">
        <h2>Wardrobe</h2><hr>
        <h3>{{vm.lastList.title}}</h3>
        <!-- <input type="text" placeholder="Search.."> -->
        <!-- <input type="button" ng-click="vm.findItem()" value="Find" /> -->
        <table>
            <thread>
                <th>Type</th>
                <th>Item</th>
                <th>Description</th>
                <th>Notes</th>
                <th></th>
                
            </thread>
            <tbody>
                <tr ng-repeat="item in vm.inventory.list" ng-cloak>
                    <td>
                        <div ng-hide="item.editing">{{item.type}}</div>
                        <input ng-show="item.editing" ng-model="item.type" ng-value="item.type">
                    </td>
                    <td>
                        <div ng-hide="item.editing">{{item.item}}</div>
                        <input ng-show="item.editing" ng-model="item.item" ng-value="item.item">
                    </td>
                    <td>
                        <div ng-hide="item.editing">{{item.description}}</div>
                        <input ng-show="item.editing" ng-model="item.description" ng-value="item.description">
                    </td>
                    <td>
                        <div ng-hide="item.editing">{{item.notes}}</div>
                        <input ng-show="item.editing" ng-model="item.notes" ng-value="item.notes">
                    </td>
                    <td>
                    <input type="checkbox" ng-click="vm.addItem(item, vm.lastList.id)" value="Add" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-include="'views/partials/list.view.html'"></div>
</div>