body, html {
  padding: 20;
  margin: auto;
  font-family: gill sans, optima, sans-serif;
  font-size: 15px;
  color:rgb(14, 12, 53);
  
}

.instructions .container h1 {
  font-size: 60px;
  font-weight: 600;
}

/* .instructions {
  background-color: rgb(14, 12, 53);
  color: #DDDDDD;
  padding: 30px;
  background-image: url("./florence_header.jpeg");
  background-size: cover
} */

#entryForm {
  margin-top: 10px;
}

.container {
  margin: 20px;
  padding:0px;
  border: 15px;
  
}

.container p{
  margin-top : 0px;
}

.message {
  padding: 0px 0;
}

.message p {
  margin-left: 0px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: rgb(121, 80, 34);
  width: 96%;
  border-radius: 0px;
  background-image: url("./florence_header.jpeg");
  background-size: cover;
  padding: 35px;
  font-weight: bold;
  margin: auto;
  float: center;
}

ul {
  list-style-type: none;
  margin-top: 10px;
  /* margin: 18px; */
  padding: 18px;
  overflow: hidden;
  background-color: rgb(235, 220, 207);
  opacity: .76;
  width: 100%;
  margin: auto;
  border-radius: 2px;
  /* float: center; */
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(61, 44, 25);
  text-align: center;
  padding: 14px ;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: rgb(73, 41, 15);
}

table {
  margin: 35px;
  padding: 5px;
  border: solid;
  border-collapse: collapose;
  border-color: rgb(218, 208, 193)    ;
  border-width: 3px;
  font-size: 15px;
  color: rgb(14, 12, 53);
  text-align:center;
  border-radius: 2px;
 
}
table, th, td {
  border: 1px solid rgb(224, 207, 169);
}

tr:nth-child(odd) {
  background-color: rgb(236, 231, 225);
}

.Category {
  margin: 15px;
  padding: 30px;
  border: solid;
  border-color: rgb(211, 189, 155)  ;
  border-width: 3px;
  color: rgb(14, 12, 53);
  width: 60%;
  float:left;
  border-radius: 2px;
 }

.packingForms {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-size: 18px;
  border-style: solid;
  border-color: rgb(233, 223, 207) ;
  border-radius: 2px;
 }

 button {
   float:right;
   
 }

.listView {
  margin: 0px;
  padding: 1px;
  border-collapse: collapose;
  border-color: rgb(218, 208, 193)  ;
  border-width: 3px;
  font-size: 15px;
  color: rgb(14, 12, 53);
  float: left;
  width: 31%;
  z-index: -1;
}

#home {
  padding: 375px;
  border: inherit;
  margin: auto;
  /* width:50%; */
  text-align:center;
  background-image:url(../styles/img_1516.jpg);
  background-size:cover
}

#register {
  padding: 375px;
  border: inherit;
  margin: auto;
  /* width:50%; */
  text-align:center;
  background-image:url(../styles/img_1516.jpg);
  background-size:cover
}

