<div class="listView" style=" z-index: -1">
    <h3>{{vm.lists.allLists.id}}</h3>
    <table>
        <thread>
            <th>Item</th>
            <th>Description</th>
            <th>Category</th>
            <th>Pack</th>
            <th></th>

        </thread>
        <tbody>
            <tr ng-repeat="item in vm.lists.viewList" ng-cloak>
                <td>
                    {{item.item}}
                </td>
                <td>
                    {{item.description}}
                </td>
                <td>
                    {{item.category}} {{item.type}}
                </td>
                <td>
                    <input type="checkbox" ng-checked="item.packed" ng-click="vm.complete(item)">
                </td>
                <td>
                    <button ng-click="vm.deleteListItem(item)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>