<div class="navbar">
  <h1 class="lead" style="color:rgb(231, 218, 204)">Pack-It Protector </h1>
  <div class="container">
    <br>
    <ul>
      <li><a href="#!user">Home</a></li>
      <li><a href="#!new-list">Start Packing</a></li>
      <li><a href="#!current-lists">Current Lists</a></li>
      <li><a href="#!previous">Previous Lists</a></li>
      <li><a href="#!inventory">Inventory</a></li>
      <li><a href="#!info">Info Page</a></li>
      <li style="float:right" ><a class="btn btn-default" ng-click="vm.userService.logout()">Log Out</a></li>
      
    </ul>
   </div>
</div>
