<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h2 id="welcome" class="lead">Hi, {{vm.userObject.userName}}!</h2>
    <h3>Where is wanderlust talking you today? </h3>
        <div>
        <div class="Category">
            <h2>Profile</h2><hr>
            <div style="float:right">
            <h3 style="float:right">Profile Picture</h3><br><br><br>
            <h3 style="float:right"><img src={{vm.userObject.picture}} style="max-width:25%; float:right"/>
                <input ng-hide="true" ng-model="vm.userObject.picture" value="vm.userObject.picture"/></h3><br>
            
            <h4 style="float:right"><button ng-click="vm.updateUser(vm.userObject)">Save</button><button ng-click="vm.profilePic()">Upload Picture</button></h4>
            </div>
            <br>
            <h3>Username:</h3>
            <h4>{{vm.userObject.userName}}</h4>
            <br> <br>
            <h3>Email:</h3>
            <h4>{{vm.userObject.email}}</h4>
            <br>
            <br>
            <h3>Phone:</h3>
            <h4>{{vm.userObject.phone}}</h4>
            <br>
            
        </div>
        </div>

        <div class="Category">
            <h3>Update your profile:</h3>
            <br>
            <form>
                <label for="email">Email:</label>
                <input ng-model="vm.userObject.email" />
                <label for="phone">Phone:</label>
                <input ng-model="vm.userObject.phone"/>
                <input type="button" ng-click="vm.updateUser(vm.userObject)" value="Update" />
            </form>
        
        </div>
</div>


