<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h2 id="welcome" class="lead">Hi, {{vm.userObject.userName}}!</h2>
    <h3>Where is wanderlust talking you today? </h3>
        <div>
            Update your profile: 
            <div class="Category">
        <form>
            <label for="email">Email:</label>
            <input ng-model="vm.userObject.email" />
            <label for="phone">Phone:</label>
            <input ng-model="vm.userObject.phone" />
            <input type="button" ng-click="vm.updateUser(vm.userObject)" value="Update"/>
        </form>  
        </div>
        </div>
</div>
