<div ng-include="'views/partials/nav.html'"></div>

<div class="container">
    <h2>Inventory</h2>
    <div class="Category">
        <div>
            <h3>Add to Inventory:</h3>
        <form>
        <input ng-model="vm.inventory.inventoryItem.type" placeholder="Type">
        <input ng-model="vm.inventory.inventoryItem.item" placeholder="Item">
        <input ng-model="vm.inventory.inventoryItem.description" placeholder="Description">
        <input ng-model="vm.inventory.inventoryItem.notes" placeholder="Notes">

        <input type="button" ng-click="vm.addToInventory(vm.inventory.inventoryItem)" value="Add"/>
        </form>
        </div>

    <div>
        <table>
        <thread>
            <th>Type</th>
            <th>Item</th>
            <th>Description</th>
            <th>Notes</th>
            <th></th>
            <th></th>
        </thread>
        <tbody>
            <tr ng-repeat="item in vm.inventory.list" ng-cloak>
                <td>
                    <div ng-hide="item.editing">{{item.type}}</div>
                    <input ng-show="item.editing" ng-model="item.type" ng-value="item.type">
                </td>
                <td>
                    <div ng-hide="item.editing">{{item.item}}</div>
                    <input ng-show="item.editing" ng-model="item.item" ng-value="item.item">
                </td>
                <td>
                    <div ng-hide="item.editing">{{item.description}}</div>
                    <input ng-show="item.editing" ng-model="item.description" ng-value="item.description">
                </td>
                <td>
                    <div ng-hide="item.editing">{{item.notes}}</div>
                    <input ng-show="item.editing" ng-model="item.notes" ng-value="item.notes">
                </td>
                <td>
                    <button ng-hide="item.editing" ng-click="vm.editInventoryItem(item)">Edit</button>
                    <button ng-show="item.editing" ng-click="vm.saveInventoryItem(item)">Save</button>
                </td>
                <td>
                    <button ng-click="vm.deleteInventoryItem(item)">Delete</button>
                </td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
</div>