<div ng-include="'views/partials/nav.html'"></div>

<div class="container">
    <h2>Inventory</h2>
    <div class="Category">
        <div>
            <h3>Add to Inventory:</h3>
        <form>
        <input ng-model="vm.inventory.inventoryItem.type" placeholder="Type">
        <input ng-model="vm.inventory.inventoryItem.item" placeholder="Item">
        <input ng-model="vm.inventory.inventoryItem.description" placeholder="Description">
        <input ng-model="vm.inventory.inventoryItem.notes" placeholder="Notes">

        <input type="button" ng-click="vm.addToInventory(vm.inventory.inventoryItem)" value="Add"/>
        </form>
        </div>

    <div>
        <table>
        <thread>
            <th>Type</th>
            <th>Item</th>
            <th>Description</th>
            <th>Notes</th>
            <th></th>
            <th></th>
        </thread>
        <tbody>
            <tr ng-repeat="item in vm.inventory.list" ng-cloak>
                <td>{{item.type}}</td>
                <td>{{item.item}}</td>
                <td>{{item.description}}</td>
                <td>{{item.notes}}</td>
                <td>
                    <button ng-click="vm.editFavorite(item)">Edit</button>
                </td>
                <td>
                    <button ng-click="vm.deleteFavorite(item)">Delete</button>
                </td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
</div>